@model IEnumerable<SignalRProj.Models.Employee>

@{
    ViewData["Title"] = "Employee Listing";
}

<h1>Employee Listing</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Emp Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="EmpBody"></tbody>
</table>
